
.drChildDiv
{
    display: inline-block;
    vertical-align: text-top;
    margin: 0 auto;
}

.drimgwidth
{
    width: 400px;
    height:400px;
}

.drdocimg
{
    width: 100px;
    height: 100px;
}

.drloginpageBackground {
    background-image: url("./images/BlueBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:auto;
   
}

.drfeildwidth
{
    width: 250px;
    height: 33px;
    border-radius: 3px;
    border: 1px solid grey;
}

.drpicfeildwidth
{
    width: 261px;
    height: 33px;
    border-radius: 3px;
    border: 1px solid grey;
}

.drpicstyle
{
    background-color: rgb(154, 190, 231);
    border-radius: 3px;
    height:33px;
    padding-left:5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: white;
}

.drpasswordstyle
{
    background-color: rgb(243, 165, 187);
    border-radius: 3px;
    height:30px;
    padding-left:23px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    color: white;
}

.drspestyle
{
    background-color: rgb(243, 165, 187);
    border-radius: 3px;
    height:30px;
    padding:7px;
    color: white;
}

.drpicstyle
{
    background-color: rgb(243, 165, 187);
    border-radius: 3px;
    height:33px;
    padding-left:5px;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    color: white;
}

.drexpstyle
{
    background-color: rgb(243, 165, 187);
    border-radius: 3px;
    height:30px;
    padding-left:20px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    color: white;
}

.drhospital
{
    background-color: rgb(243, 165, 187);
    border-radius: 3px;
    height:30px;
    padding-left:28px;
    padding-top: 5px;
    padding-right: 28px;
    padding-bottom: 5px;
    color: white;
}
.dremailstyle
{
    background-color: rgb(243, 165, 187);
    border-radius: 3px;
    height:30px;
    padding-left:40px;
    padding-top: 5px;
    padding-right: 32px;
    padding-bottom: 5px;
    color: white;
}

.drdobstyle
{
    background-color: rgb(243, 165, 187);
    border-radius: 3px;
    height:35px;
    padding-left:40px;
    padding-top: 7px;
    padding-right: 40px;
    padding-bottom: 7px;
    color: white;
}

.drloginstyle
{
    border-radius: 5px;
    background-color:rgb(221, 40, 113);
    border: 1px solid rgb(211, 40, 113);
    color:white;
    padding:5px

}
.drmaindiv
{
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(247, 203, 228);
    padding-left: 0%;
    padding: 0%;
    margin: 0%;
    background-color: white;
    
}