
.puChildDiv
{
    display: inline-block;
    vertical-align: text-top;
    margin: 0 auto;
}

.puimgwidth
{
    width: 450px;
    height:400px;
    padding: 5px;
}

.pudocimg
{
    width: 100px;
    height: 100px;
}

.puloginpageBackground {
    background-image: url("./images/blue.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:auto;
   
}

.pufeildwidth
{
    width: 250px;
    height: 33px;
    border-radius: 3px;
    border: 1px solid grey;
}

.pupicfeildwidth
{
    width: 255px;
    height: 33px;
    border-radius: 3px;
    border: 1px solid grey;
}


.pupasswordstyle
{
    background-color: rgb(154, 190, 231);
    border-radius: 3px;
    height:30px;
    padding-left:23px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    color: white;
}



.pupicstyle
{
    background-color: rgb(154, 190, 231);
    border-radius: 3px;
    height:33px;
    padding-left:5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: white;
}

.pudesstyle
{
    background-color: rgb(154, 190, 231);
    border-radius: 3px;
    height:30px;
    padding-left:26px;
    padding-top: 5px;
    padding-right: 26px;
    padding-bottom: 5px;
    color: white;
}
.puemailstyle
{
    background-color: rgb(154, 190, 231);
    border-radius: 3px;
    height:30px;
    padding-left:40px;
    padding-top: 5px;
    padding-right: 32px;
    padding-bottom: 5px;
    color: white;
}

.pudobstyle
{
    background-color: rgb(154, 190, 231);
    border-radius: 3px;
    height:35px;
    padding-left:40px;
    padding-top: 7px;
    padding-right: 40px;
    padding-bottom: 7px;
    color: white;
}

.puloginstyle
{
    border-radius: 5px;
    background-color:rgb(83, 154, 234);
    border: 1px solid rgb(83, 154, 234);
    color:white;
    padding:5px

}
.pumaindiv
{
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(203, 230, 247);
    padding-left: 0%;
    padding: 0%;
    margin: 0%;
    background-color: white;
    
}